@font-face {
  font-family: "Nescafe";
  src:
    url("./fonts/nescafe.woff2") format("woff2"),
    url("./fonts/nescafe.woff") format("woff"),
    url("./fonts/nescafe.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset Default Space */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Body */
body {
  font-family: "Nescafe";
}

/* For Nav-Bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 1.25rem;
  position: fixed;
}

/* For Nescafe Logo */
div.nescafe-logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 12.5rem;
}
/* For Nescafe Image */
div.nescafe-logo > img {
  display: block;
  width: 12.5em;
  height: 5em;
}
/* For Anchor Tag */
a {
  display: block;
  text-decoration: none;
}

/* For Links */
div.links {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 100px;
}

/* Location Button */
div.btn > button {
  padding: 0.75rem 1.25rem;
  border: none;
  background-color: #af1316;
  border-radius: 30px 0px 40px;
  color: white;
  font-size: 1.25rem;
  text-emphasis: none;
  cursor: pointer;
}
div.btn > button:hover {
  background-color: #d41417;
}

/* Home Section */
/* For Heading */
#home {
  /* Syntax: image position / size repeat attachment color */
  background:
    linear-gradient(rgba(0, 0, 0, 0.326), rgba(0, 0, 0, 0)),
    url("./assets/nescafe-background1.avif") center / cover no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 2em;
}

/* For Paragraph */
#home > p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #ffffffb0;
  font-style: normal;
  margin: 2rem;
}

/* Story & Recipes Section */
#story-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 168vh;
  column-gap: 5rem;
  margin: 0px 1.25rem;
  padding: 6.25rem;
}

/* Story Box */
div.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/coffee.jpg) center / cover no-repeat fixed;
  border-radius: 20px 0px;
  width: 49%;
  height: 95%;
  padding: 90px 100px;
}
/* Recipes Box */
div.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url(./assets/coffee4.webp) center / cover no-repeat fixed; */
  background: url(./assets/coffee1.jpg) center / cover no-repeat fixed;
  border-radius: 20px 0px;
  width: 49%;
  height: 95%;
  padding: 90px 20px;
}

/* For Story & Recipes Heading */
div.story > h1,
div.recipes > h1 {
  font:
    600 2.5rem "Titillium Web",
    sans-serif;
  color: #ffffffd8;
}

/* For Story & Recipes Paragraph */
div.story > p,
div.recipes > p {
  font:
    300 1.25rem "Poppins",
    sans-serif;
  color: #ffffffd8;
  overflow-y: hidden;
  text-align: center;
  /* word-spacing: 0.05rem;
  letter-spacing: 0.05rem; */
  line-height: 1.5;
}

/* Story Button & Recipes Button */
div.story > button,
div.recipes > button {
  padding: 0.75rem 0.75rem;
  border: 2px solid #fff;
  border-radius: 0px 0px 20px;
  margin-top: 5rem;
  text-emphasis: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
/* div.story > button:hover, div.recipes > button:hover {
  
} */

/* Products Section */
section#products {
  background: url(./assets/nescafe-seeds1.jpg) center / cover no-repeat fixed;
  padding: 5rem 0px 0px;
}
/* Nescafe Gold */
div.nescafe-gold,
div.nescafe-classic {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.our-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 1.25rem;
}
/* For Heading */
div.our-brands > h1 {
  font:
    600 4.4rem "Titillium Web",
    sans-serif;
  margin-top: 1.25rem;
}
/* For Paragraph */
div.our-brands > p {
  font:
    300 1.25rem "Poppins",
    sans-serif;
  color: #000000b0;
  text-align: left;
  margin: 1.25rem 25rem 0px 0px;
}
/* For image */
div.our-brands + img,
div.nescafe-classic > img {
  display: block;
  width: 30rem;
  height: 27rem;
}

/* For Nescafe Classic */
div.nescafe-classic > div.our-brands {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 1.25rem;
  align-items: flex-end;
}
/* For Paragraph */
div.nescafe-classic p {
  margin: 1.25rem 0px 0px 25rem;
}

/* For Bottom Side */
div.bottom-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}
/* For Bottom Side Paragraph */
div.bottom-side > p {
  font:
    300 1.25rem "Titillium Web",
    sans-serif;
  margin-top: 0.75rem;
  letter-spacing: 0.25rem;
  word-spacing: 0.3rem;
}
/* For Button */
div.bottom-side > button {
  font-size:
    0.8rem Arial,
    sans-serif;
  padding: 0.75rem;
  border-bottom-right-radius: 1.25rem;
  background: none;
  color: #000000;
  text-emphasis: none;
  text-align: justify;
  cursor: pointer;
}

/* For Mission Content */
section#Mission {
  background: url(./assets/nescafe-rand.jpg) center / cover no-repeat fixed;
}
div.mission-content {
  display: flex;
  flex-direction: column;
  padding: 5rem 1.25rem;
}
/* For Mission Text */
div.mission-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3.2rem 0px 0px 1.25rem;
}
div.mission-text > img {
  display: block;
  width: 3.13rem;
  height: 2.8rem;
}

div.mission-text > p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0.63rem 0px 0px 0.63rem;
  letter-spacing: 0.30rem;
  word-spacing: 0.20rem;
}

/* For Mission Message */
div.mission-msg > p.msg {
  color: #fff;
  font:
    400 2.8rem "Nescafe",
    sans-serif;
  margin: 0.63rem 47rem 1.25rem 0px;
}

div.mission-msg:nth-child(2) {
  color: #bfc4c3;
  font:
    300 1.25rem "Titillium Web",
    sans-serif;
  margin: 0px 0px 0px 1.25rem;
  letter-spacing: 0.25rem;
}

div.mission-msg > button {
  padding: 0.75rem 0.75rem;
  border: 2px solid #fff;
  border-radius: 0px 0px 20px;
  margin-top: 1.5rem;
  text-emphasis: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
}
